/* ALT */
*,
*::before,
*::after {
   box-sizing: border-box;
}
* {
   margin: 0;
   padding: 0;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 89px;
}
html,
body {
   height: 100%;
}
body {
   height: 100vh;
   height: 100dvh;
   height: 100svh;
}
img,
picture,
video {
   display: block;
   max-width: 100%;
}

/* MAIN */
main {
    text-align: center;
    width: 80%;
    margin-inline: auto;
    margin-block-end: 100px;
}

/* OVERSKRIFTER */
h1, h2, h3 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

img {
    display: block;
}

h4 {
    font-family: sans-serif, bold;
    line-height: 125%;
}
h1 {
    font-size: 60px;
    /* margin-top: 7%; */
    text-align: left;
    /* margin-left: 100px; */
}

.name h2 {
    text-align: left;
    /* margin-left: 100px; */
    font-size: 30px;
}

/* TITTLER */
#prosj-tittel, #om-meg-tittel, #kontakt-tittel {
    padding: 50px;
    font-size: 35px;
    transition: scroll 0.5s; 
}

/* TEKST */
p {
    font-family: fantasy, monospace, sans-serif;
}

/* KNAPPER */
a {
    color: rgb(3, 3, 3);
    text-decoration: none;
}

/* -- --- -- -- -- - -- NAVIGASJON -- --- -- -- -- - -- */
.navbar {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 0px 14px;
        grid-auto-flow: row;
        grid-template-areas:
            "portfolio-tekst . knapp1 knapp2 knapp3";
        background-color: white;
        width: 100%;
        position: fixed;
}

.portfolio-tekst { grid-area: portfolio-tekst; }
.knapp1 { grid-area: knapp1; }
.knapp2 { grid-area: knapp2; }
.knapp3 { grid-area: knapp3; }

.navbar div {
    padding: 25px;
}

.navbar div:hover {
    background-color: rgb(244, 244, 244);
}

/* -- --- -- -- -- - -- NAVN -- --- -- -- -- - -- */
.name {
    /* margin-top: -100px; */
    /* margin-right: -150px; */
    /* margin-left: -150px; */
    /* justify-content: center; */
    background-color: rgb(244, 244, 244);
    /* background-color: rgb(244, 244, 244) */
    padding: 15% 0 10% 0;
}

/* .navn {  display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "name myImg";
} */
.navn {  
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* padding-inline: 4rem; */

}

/* .name { grid-area: name; }
.myImg { grid-area: myImg; } */

.navn div img {
    height: 400px;
    width: auto;
    /* margin-left: 35%; */
}
.toppen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 25%; */
}

/* -- --- -- -- -- - -- KONTAKT -- --- -- -- -- - -- */
#kontakt {
    border: 2px solid rgb(224, 216, 64);
    padding: 20px 0;
}

.kontakt {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 14px 14px; 
    grid-template-areas: 
        "adresse tlf mail"; 
}
.adresse { grid-area: adresse; }
.tlf { grid-area: tlf; }
.mail { grid-area: mail; }

.kontakt div {
    background-color: rgb(244, 244, 244);
    padding: 10px 20px 20px 20px;
}

/* -- --- -- -- -- - -- INFORMASJON OG SPRÅK -- --- -- -- -- - -- */
.info-og-språk {  display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 14px 14px;
    grid-auto-flow: row;
    grid-template-areas:
        "infor språ";
}

.infor { grid-area: infor; }
.språ { grid-area: språ; }

.info-og-språk div {
    background-color: rgb(244, 244, 244);
    padding: 10px 10px 30px 10px;
}

/* -- --- -- -- -- - -- PROSJEKTER -- --- -- -- -- - -- */
/* .prosjekter {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
        "prosj-web prosj-cookie"
        "prosj-invoicing prosj-snake"
        "prosj-logo .";
} */
.prosjekter {  
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    text-align: left;
}
.prosjekter > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
    overflow: hidden;
}

.prosjekter-grid-elem {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 150px;
}
/* .prosj-web { grid-area: prosj-web; }
.prosj-cookie { grid-area: prosj-cookie; }
.prosj-snake { grid-area: prosj-snake; }
.prosj-logo { grid-area: prosj-logo; }
.prosj-invoicing { grid-area: prosj-invoicing; } */

.prosjekter div img {
    width: auto;
    height: 100%;
    padding-inline-end: 20px;
    object-fit: cover;
}
.prosj-web, .prosj-cookie, .prosj-logo, .prosj-snake, .prosj-invoicing {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 10px 10px; 
    background-color: rgb(244, 244, 244)
}

/* ------------------------------------------------ PROSJEKTSIDE ---------------------------------------------------- */
.hoved > p, ul {
    margin-bottom: 20px;
    line-height: 30px;
}

.hoved > h1, h2 {
    margin-bottom: 10px;
}

.img-online_gaming {
    width: 60%;
    margin: auto;
}

.prosj-beskrivelse, .prosj-funksjoner, .prosj-github, .gå-tilbake {
    background-color: rgb(213, 225, 225);
    padding: 20px;
    border-radius: 10px;
}

.hoved {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr 1fr;
    gap: 14px 14px;
    grid-auto-flow: row;
    grid-template-areas:
        "prosj-beskrivelse prosj-funksjoner"
        "prosj-github prosj-github"
        "gå-tilbake gå-tilbake";
}

.prosj-github { 
    grid-area: prosj-github; 
    height: fit-content;
}
.gå-tilbake { 
    grid-area: gå-tilbake; 
    height: fit-content;
    background-color: rgb(177, 199, 199);
}
.prosj-beskrivelse { grid-area: prosj-beskrivelse; }
.prosj-funksjoner { grid-area: prosj-funksjoner; }

.prosj-beskrivelse p, .prosj-beskrivelse img {
    padding: 10px;
}

.prosj-github:hover, .gå-tilbake:hover {
    background-color: rgb(244, 244, 244)
}

/* .proj-title {
    margin-top: -50px;
    margin-left: 0;
} */
