/* ALT */
* {
    margin: 0px;
    padding: 0px;
}

/* MAIN */
main {
    text-align: center;
    width: 80%;
    margin-inline: auto;
    margin-block: 100px;
}

/* OVERSKRIFTER */
h1, h2, h3 {
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-align: center;
}

h4 {
    font-family: sans-serif, bold;
    line-height: 300%;
}

h1 {
    font-size: 40px;
}
/* TEKST */
p {
    font-family:fantasy, monospace, sans-serif;
}

/* KNAPPER */
a {
    color: rgb(3, 3, 3);
    text-decoration: none;
}

/* KNAPPER BEHOLDER*/
.knapper-beholder {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    border: 2px solid rgb(147, 237, 147);
}

/* NAME */
.name {
    display: flex;
    justify-content: center;
    border: 2px solid turquoise;
}

/* KNAPPER */
.knapper {
    width: 150px;
}

.knapper-beholder > div {
    background-color: rgb(213, 225, 225);
    margin: 2%;
    padding: 20px;  
}

/* KONTAKT MEG */
#kontakt {
    border: 2px solid rgb(224, 216, 64);
    padding: 20px 0;
}

/* INFORMASJON og SPRÅK */
.info-og-språk-beholder {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    border: 2px solid pink;
    flex-direction: column;
}

.info-og-språk {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 3fr 1fr;
}

.info-og-språk-beholder > div {
      background-color: rgb(213, 225, 225);
      margin: 2%;
      padding: 20px;  
}

/* PROSJEKTER */
.prosjekter-beholder {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    border: 2px solid orange;
    flex-direction: column;
}

/* div i prosjekter */
.prosjekter-beholder > div {
    background-color: rgb(227, 239, 239);
}


.prosjekt-grid-beholder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.prosjekt-item {
    background-color: rgb(231, 238, 238);
    border: 1px dashed rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 100%;

    background-color: rgba(244, 244, 244, 0.8);
    text-align: center;
    width: 100%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 2fr 1fr;
}

.prosjekt-item > div {
    width: 100%;
}

#prosj-tittel {
    line-height: 200%;
}

.prosjekt {
    width: 100%;
}

.prosjekt-bilder {
    margin: 10px;
}

.tekst {
    margin-left: 24%;
    margin-right: 24%;
}