* {
    margin: 0px;
    padding: 0px;
}

.main {
    margin: 5% 10%;
    text-align: center;
}

h1, h2{
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-align: center;
}

/* p {
  font-family:fantasy, monospace, sans-serif;
} */

table {
    margin: auto;
    /* font-family: 'Courier New', Courier, monospace; */
}

th {
    padding: 10px 50px;
}

a {
    color: rgb(3, 3, 3);
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.project {
    background-color: rgba(219, 237, 255, 0.8);
    padding: 20px;
    text-align: center;
}