* {
    margin: 0px;
    padding: 0px;
}

main {
    margin: 100px 150px;
    text-align: center;
}
/* SANDRA og UNDEROVERSKIRFTER */ 
h1, h2, h3 {
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-align: center;
}

h4 {
    font-family: sans-serif, bold;
}

h1 {
    font-size: 40px;
}

/* UNDEROVERSKRIFTER */
.flex-container {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    border: 2px solid rgb(147, 237, 147);
  }

.celle {
    width: 150px;
}

p {
  font-family:fantasy, monospace, sans-serif;
}

th, tr {
    border: 10px;
    padding: 10px 50px;
    text-align: center;
}

a {
    color: rgb(3, 3, 3);
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    border: 2px solid yellowgreen;
}

.project {
    background-color: rgba(219, 237, 255, 0.8);
    padding: 20px;
    text-align: center;
    width: 100%;

    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 2fr 1fr;
}


.flex-container > div {
    background-color: rgb(213, 225, 225);
    margin: 2%;
    padding: 20px;  
}

/* INFORMASJON og SPRÅK i OM MEG */
.flex-container2 {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    border: 2px solid pink;
    flex-direction: column;
}
  
.flex-container2 > div {
      background-color: rgb(213, 225, 225);
      margin: 2%;
      padding: 20px;  
}

/* PROSJEKTER */
.flex-container3 {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    border: 2px solid orange;
    flex-direction: column;
}
  
.flex-container3 > div {
    background-color: rgb(213, 225, 225);
}

  /* PROSJEKTER i OM MEG */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    width: 100%;
}
.grid-item {
    background-color: rgb(231, 238, 238);
    border: 1px dashed rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 100%;

}

.grid-item > div {
    width: 100%;
}

.hovedinnhold {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 3fr 1fr;
}
.name {
    display: flex;
    justify-content: center;
    border: 2px solid turquoise;
}

#kontakt {
    border: 2px solid rgb(224, 216, 64);
    padding: 20px 0;
}

.prosjekt {
    width: 100%;
}